{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/styleFF.css' %}">
    <title>FIFA WORLD CUP QATAR 2022</title>
</head>

<header>
    <div class="container-fluid nav">
        <div class="redes">
            <a href="https://twitter.com/FIFAcom" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/fifa" target="_blank"><i class="fa fa-facebook-official "></i></a>
            <a href="https://www.instagram.com/fifaworldcup/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://www.youtube.com/FIFATV" target="_blank"><i class="fa fa-youtube-play"></i></a>
        </div>
        <div class="row bar">
            <div class="col-sm-2 column">
                <a href="{% url 'interface' %}">
                    <img src="{% static 'images/logo1.png' %}" width="145px" height="145px" alt="">
                </a>
            </div>

            <div class="col-sm-7 column">
                <h1 class="t">FIFA WORLD CUP QATAR 2022<i class="fa fa-futbol-o icon-t"></i></h1>
            </div>

            <div class="col-sm-3 column">
                <a href="{% url 'logout' %}" class="login"><i class="fas fa-sign-out icon"></i>Cerrar Sesión</a>
            </div>
        </div>
    </div>
</header>
<div class="notification-succes">
    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>
<body>
    <div class="body">
        <div>
            <div class="container cont-text">
                <h1 class="texto">Bienvenido, aqui podrás agregar las diferentes selecciones (Con sus respectivos jugadores y equipo técnico) que participarán en el Mundial Qatar 2022</h1>
            </div>
        </div>
        <div>
            <div class="container cont">
                <a href="{% url 'admin:index' %}"><button class="btn boton"><i class="fa fa-pencil text-warning"></i>Editar o agregar información de las selecciones</button></a>
                <a href="{% url 'contactoInter' %}"><button class="btn boton-pqr"><i class="fa fa-envelope text-danger"></i>Quejas, peticiones o recomendaciones</button></a>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/dbfa2f0f7e.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
<footer>
    <div class="container fifa_cont">
        <a href="https://www.fifa.com/es" target="_blank" class="fifa">WWW.FIFA.COM</a>
    </div>
</footer>

</html>